.border-dashed {
	border-style: dashed !important;
}

.upload-dropzone:hover {
	background-color: #fbfdff;
}

.card.h-100 {
	display: flex;
	flex-direction: column;
}

.monaco-container {
	height: 100%;
}

@media (max-width: 991px) {
	.monaco-container { min-height: 320px; }
}
